@charset "UTF-8";

/* 共通 */
.inner {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.font-raleway {
  font-family: "Raleway";
}

.btn {
  transition: color 0.3s;
  font-size: 12px;
  color: #f2f2f2;
  background-color: #74cfae;
}

.btn:hover {
  color: #4e4e4e;
}

a {
  display: inline-block;
  text-decoration: none;
}

body {
  font-family: "Lato";
}

/* 共通 */

/* ヘッダー */
.header {
  background-color: white;
  width: 100%;
  position: fixed;
  /* positionには必須 */
  top: 0;
  left: 0;
  z-index: 100000;
}

.header-inner {
  display: flex;
  /* 両端に子要素を配置できる */
  justify-content: space-between;
  padding: 15px 0;
}

/* 子要素全てにposition: absolute;をつけると、親要素内が空と判断され崩れる */
.bolt-icon {
  color: #4e4e4e;
  font-size: 40px;
}

.contact {
  padding: 14px 12px;
}

/* メイン */

.main {
  padding-top: 78px;
}

/* タイトル */
.title {
  background-color: #f2f2f2;
}

.title-inner {
  text-align: center;
  padding: 250px 0;
}

.title-head {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.title-text {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

/* 紹介 */

.intro {
  background-color: #74cfae;
}

.intro-inner {
  display: flex;
  padding-top: 50px;
  padding-left: 70px;
}

/* 画像にvertical-alignを指定すると隙間がなくなる */
.iphon {
  vertical-align: bottom;
}

.intro-text-box {
  width: 60%;
  text-align: center;
  margin-left: 100px;
}

.intro-title {
  font-size: 24px;
  color: #f2f2f2;
}

.intro-text {
  font-size: 20px;
  color: #f2f2f2;
  margin-top: 35px;
  line-height: 1.5em;
}

/* 作品 */

.work {
  background-color: #f2f2f2;
}

.work-inner {
  padding: 60px 0 70px;
}

.work-title {
  font-size: 24px;
  text-align: center;
}

.work-images {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.work-images li {
  margin-left: 100px;
  margin-top: 80px;
  opacity: 0.7;
  transition: opacity 0.3s;
  font-size: 0;
}

.work-images li:hover {
  opacity: 1;
}

.work-images li:nth-child(3n + 1) {
  margin-left: 0;
}

.work-images li:nth-child(-n + 3) {
  margin-top: 0;
}

.flex {
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

.work-text {
  color: #4e4e4e;
  width: 460px;
  text-align: center;
  line-height: 1.5em;
}

.email {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 45px;
  margin-left: 90px;
  padding: 14px 20px;
  box-sizing: border-box;
}

/* スキル */

.skills {
  background-color: #4e4e4e;
  width: 100%;
}

.skills-inner {
  padding-top: 70px;
  padding-bottom: 100px;
}

.skills-title {
  color: #f2f2f2;
  text-align: center;
  font-size: 24px;
}

.skills-images {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.skills-images li {
  margin-left: 180px;
}

.skills-images li:first-child {
  margin-left: 0;
}

.skills-images li p {
  color: #f2f2f2;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

/* SNS */

.sns {
  background-color: #f2f2f2;
  width: 100%;
}

.sns-inner {
  padding-top: 200px;
  padding-bottom: 200px;
}

.sns-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns-icon {
  text-align: center;
  width: 185px;
  font-size: 3em;
  color: #74cfae;
  transition: background-color 0.3s;
  padding: 30px 0;
}

.sns-icon:hover {
  background-color: white;
}

/* フッター */
.footer {
  background-color: #74cfae;
}

.footer-text {
  color: #f2f2f2;
  padding: 20px 0 25px;
  text-align: right;
}

/* tab以下 */